body {
    font-family: Arial;
    text-align: center;
    background-color: #f4f4f4;
}

h1 {
    background-color: #333;
    color: white;
    padding: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-top: 50px;
}

li {
    margin: 20px;
}

a {
    display: inline-block;
    padding: 15px 25px;
    background-color: #2a75bb;
    color: white;
    text-decoration: none;
    border-radius: 10px;
}

a:hover {
    background-color: #1e5a91;
}